[submodule "analyzer"]
	path = analyzer
	url = git@github.com:verum-visu-toolkit/analyzer.git
[submodule "sptfile"]
	path = sptfile
	url = git@github.com:verum-visu-toolkit/sptfile.git
[submodule "renderer"]
	path = renderer
	url = git@github.com:verum-visu-toolkit/renderer.git
[submodule "basicfile"]
	path = basicfile
	url = git@github.com:verum-visu-toolkit/basicfile.git
